<h2>Edit Route &amp; Stops</h2>
<div class="line-full-map" data-id="<%= line.id %>"></div><br/>
<div class="btn-group">
  <a href="#" class="btn btn-primary edit-line-toggle" data-mode="route"><i class="fa fa-fw fa-location-arrow"></i> Edit Route</a>
  <a href="#" class="btn btn-primary edit-line-toggle" data-mode="stops"><i class="fa fa-fw fa-map-marker"></i> Edit Stops</a>
</div>
<div class="help-block">
  <p>
    <i class="fa fa-fw fa-location-arrow"></i> <strong>Route Mode</strong> - Click to add a point to the route. Click on a point to delete it.
    Draw a line that follows the route of the line.
  </p>
  <p><i class="fa fa-fw fa-map-marker"></i> <strong>Stops Mode</strong> - Click to add a stop. Click on a stop to delete it.</p>
</div>