// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line-panel img {
  width: 100%;
}

.line-condensed-map {
  height: 300px;
}

.line-full-map {
  height: 550px;
}

#stop_direction {
  width: 20em;
}

.direction-group {
  width: 30em;
  margin: 0 1em;
}

.direction-group + .help-block {
  display: none;
  margin: 0 1em;
}

.clone-controls {
  margin-top: 45px;
}

th .text-muted {
  font-weight: normal;
}
